---

---

<ul class="option option-company">
    <li><a href="">History</a></li>
    <li><a href="">Our Team</a></li>
    <li><a href="">Blog</a></li>
</ul>

<style>
    .option-company.active {
        display: flex;
        gap: 1rem;
        top: 30px;
        left: 110px;
    }

    @media (max-width: 800px) {
        .option-company.active {
            display: flex;
        }
    }
</style>
