---
import { Image } from 'astro:assets';
import iconMenu from '/assets/icon-menu.svg';
import iconMenuClose from '/assets/icon-close-menu.svg';
---

<button
    class="hamburger"
    aria-controls="primary-navigation"
    aria-label="menu"
    aria-expanded="false"
>
    <img src="/assets/icon-menu.svg" alt="logo" aria-hidden="true" />
</button>

<style>
    .hamburger {
        display: none;
        position: absolute;
        background-color: transparent;
        border: none;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
        z-index: 10;
    }

    [aria-expanded='true'] > img {
        content: url('/assets/icon-close-menu.svg');
    }

    @media (max-width: 800px) {
        .hamburger {
            display: block;
        }
    }
</style>
