---
import { Image } from 'astro:assets';
import Feature from './Feature.astro';
import Company from './Company.astro';
import Hamburger from '../components/Hamburger.astro';

import downArrow from '../assets/icon-arrow-down.svg';
import upArrow from '../assets/icon-arrow-up.svg';
---

<nav>
    <Hamburger />

    <div class="flex primary-navigation">
        <ul class="items flex" id="primary-navigation">
            <li>
                <a
                    class="item-feature"
                    href="#"
                    aria-controls="option-feature"
                    aria-label="menu option feature"
                    aria-expanded="false"
                    >Features <span
                        ><img src={downArrow.src} alt="arrow" /></span
                    ></a
                >
                <Feature />
            </li>
            <li>
                <a class="item-company" href="#"
                    >Company <span><Image src={downArrow} alt="arrow" /></span
                    ></a
                >
                <Company />
            </li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="login flex">
            <li><a href="#">Login</a></li>
            <li><a class="btn-login" href="#">Register</a></li>
        </ul>
    </div>
</nav>

<style>
    primary-navigation {
        justify-content: space-between;
    }

    ul {
        gap: 1.5rem;
    }

    .items {
        position: relative;
    }

    .btn-login {
        border: 1px solid var(--almost-black);
        border-radius: 15px;
        padding: 0.8rem 1.3rem;
    }

    @media (max-width: 800px) {
        .primary-navigation {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            left: 50%;
            height: 100%;
            background-color: var(--almost-white);
            flex-direction: column;
            gap: 3rem;
            justify-content: start;
            padding: 6rem 1rem;
        }

        .items,
        .login {
            flex-direction: column;
            gap: 2rem;
        }

        .items {
            align-self: flex-start;
        }

        .items li {
            align-self: flex-start;
            text-align: start;
        }

        .login {
            text-align: center;
            width: 100%;
        }

        .primary-navigation.active {
            display: flex;
        }
    }
</style>
